name: Deploy to Google Cloud Storage

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies only
        working-directory: frontend
        run: npm install

      - name: Build frontend only
        working-directory: frontend
        run: npm run build

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/10700357041/locations/global/workloadIdentityPools/github-pool/providers/github
          service_account: github-deployer@vnc-blockchain.iam.gserviceaccount.com

      - name: Upload to Cloud Storage
        uses: google-github-actions/upload-cloud-storage@v1
        with:
          path: frontend/build
          destination: vncblockchain.com