# This is a sample workflow file 

name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'  # Updated to Node.js version 20

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Deploy
        run: npm run deploy